@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');

:root{
    --principal: #FFD600;
    --texto: #1E1E1E;
    --bg_mesas: #267C07;
    --pagar:#7C0707;
    --bg_foto_prato: #D9D9D9;
    --texto_menu: rgba(30, 30, 30, 0.7);
}

.container{
    position: relative;
    width: 360px;
    height: 800PX;
    background: #FFFFFF;
    display: inline-block;  
}